<div class="expanded button-group">
    <a class="button warning" onclick="goPrevious();"><i class="fi fi-previous"></i></a>
    <a class="button success" onclick="playPause();"><i class="fi fi-play"></i></a>
    <a class="button warning" onclick="goNext();"><i class="fi fi-next"></i></a>
</div>