<div class="top-bar">
    <div class="tob-bar-left">
        <ul class="menu">
            <li class="menu-text">Spotify Playback Station</li>
        </ul>
    </div>
    <div class="tob-bar-right">
        <ul class="dropdown menu" data-dropdown-menu>
            <li>
                <a href="#">Tokens</a>
                <ul class="menu vertical">
                    <% for (let t in tokens) {
                        if (token === tokens[t]) { %>
                            <li class="is-active"><a><%= t %></a></li>
                        <% } else { %>
                            <li><a href="localhost:8000/player?access_token=<%= t %>"><%= t %></a></li>
                        <% }
                    } %>
                    <li><a href="https://accounts.spotify.com/authorize?response_type=token&client_id=c80454417d9147f69e21480920207269&scope=streaming user-read-birthdate user-read-email user-read-private&redirect_uri=http://localhost:8000/addToken">Add token</a></li>
                </ul>
            </li>
        </ul>
    </div>
</div>