<div class="top-bar">
    <div class="tob-bar-left">
        <ul class="dropdown menu" data-dropdown-menu>
            <li class="menu-text">Spotify Playback Station</li>
        </ul>
    </div>
</div>