<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <span class="spotify-key"><%= token %></span>

    <script src="https://sdk.scdn.co/spotify-player.js"></script>
    <script src="javascript/player.js"></script>
</body>
</html>