<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Spotify Playback Station</title>
    <link rel="stylesheet" href="node_modules/foundation-sites/dist/css/foundation.css"/>
    <link rel="stylesheet" href="node_modules/@icon/foundation-icons/foundation-icons.css" />
</head>
<body>
    <span class="spotify-key hide"><%= token %></span>

    <% include ../partials/header.ejs %>

    <script src="node_modules/jquery/dist/jquery.js"></script>
    <script src="node_modules/foundation-sites/dist/js/foundation.js"></script>
    <script src="https://sdk.scdn.co/spotify-player.js"></script>
    <script src="public/javascript/player.js"></script>
    <script>$(document).foundation();</script>
</body>
</html>